/* ============================================================================================= */
/* Dialog */
/* ============================================================================================= */

#dialog {

    display: none;
    place-items: center;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: var(--spacing-default);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--backdrop-filter-blur-default);
    opacity: 0.0;
    z-index: 300;

}

#dialog-box {

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-default) * 2);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    padding: calc(var(--spacing-default) * 2);
    transform: scale(0.7);
    border-radius: var(--border-radius-default);
    background-color: var(--theme-color-foreground);
    box-shadow: var(--box-shadow-default);

}

#dialog-box-title {

    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    font-size: var(--font-size-title);
    font-weight: bold;

}

#dialog-box-message {

    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    font-size: var(--font-size-text);
    color: var(--font-color-description);
    text-align: justify;
    word-break: break-word;
    hyphens: auto;

}

#dialog-box-actions {

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-default);
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;

}

.dialog-box-actions-button {

    flex: 1 1 150px;
    box-sizing: border-box;
    height: 48px;
    padding: var(--spacing-default);
    border: 0;
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-text);
    color: var(--font-color-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--theme-color-active);
    cursor: pointer;
    transition: var(--transition-time-default);

}

.dialog-box-actions-button:hover {

    background-color: var(--theme-color-highlight);

}

.dialog-box-actions-button:active {

    background-color: var(--theme-color-active);

}

/* ============================================================================================= */
/* Dialog animations */
/* ============================================================================================= */

.dialog-fade-in { 
    
    animation: dialog-fade-in-animation 100ms ease forwards;

}

@keyframes dialog-fade-in-animation {
    
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }

}

.dialog-fade-out { 
    
    animation: dialog-fade-out-animation 100ms ease forwards;

}

@keyframes dialog-fade-out-animation {
    
    0%   { opacity: 1.0; }
    100% { opacity: 0.0; }

}

.dialog-box-scale-up {

    animation: dialog-box-scale-up-animation 100ms ease forwards;

}

@keyframes dialog-box-scale-up-animation {
    
    0%   { transform: scale(0.7); }
    100% { transform: scale(1.0); }

}