:root {

    --color-gray-darkest-100: rgba(16,  16,  24,  1.0);
    --color-gray-dark-100:    rgba(40,  40,  48,  1.0);
    --color-gray-medium-100:  rgba(88,  88,  96,  1.0);
    --color-gray-light-100:   rgba(136, 136, 144, 1.0);
    --color-red-dark-100:     rgba(48,  0,   0,   1.0);
    --color-red-medium-100:   rgba(192, 0,   0,   1.0);
    --color-green-dark-100:   rgba(0,   32,  8,   1.0);
    --color-green-medium-100: rgba(0,   160, 64,  1.0);
    --color-lime-dark-100:    rgba(24,  32,  8,   1.0);
    --color-lime-medium-100:  rgba(96,  160, 16,  1.0);
    --color-blue-dark-100:    rgba(0,   24,  56,  1.0);
    --color-blue-medium-100:  rgba(0,   128, 255, 1.0);
    --color-yellow-dark-100:  rgba(56,  40,  0,   1.0);
    --color-yellow-medium-100:rgba(224, 160, 0,   1.0);
    --color-purple-dark-100:  rgba(24,  0,   48,  1.0);
    --color-purple-medium-100:rgba(128, 0,   255, 1.0);

    --theme-color-background: var(--color-gray-darkest-100);
    --theme-color-foreground: var(--color-gray-dark-100);
    --theme-color-active:     var(--color-gray-medium-100);
    --theme-color-highlight:  var(--color-gray-light-100);

    --accent-color-background: var(--color-blue-dark-100);
    --accent-color-foreground: var(--color-blue-medium-100);

    --font-family-default:    Arial, Helvetica, sans-serif;
    --font-size-heading:      19px;
    --font-size-title:        17px;
    --font-size-text:         15px;
    --font-size-description:  13px;
    --font-color-text:        rgba(255, 255, 255, 1.0);
    --font-color-description: rgba(255, 255, 255, 0.7);
    --font-color-info:        rgba(255, 255, 255, 0.5);

    --spacing-default: 8px;
    --border-radius-default: 4px;
    --box-shadow-default: 0px 0px 4px 0px rgba(0, 0, 0, 0.7);
    --transition-time-default: 100ms;
    --backdrop-filter-blur-default: blur(50px);

}

::selection {

    color: var(--accent-color-background);
    background: var(--accent-color-foreground);

}

body {

    margin: 0;
    font-family: var(--font-family-default);
    font-size: 0;
    color: var(--font-color-text);
    background-color: var(--theme-color-background);

}

.icon-back    { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='m257.39 112.06a16 16 0 0 0-5.5352 0.48437 16 16 0 0 0-7.1718 4.1406l-128 128a16.002 16.002 0 0 0 0 22.629l128 128a16 16 0 0 0 22.627 0 16 16 0 0 0 0-22.629l-100.69-100.69h217.37a16 16 0 0 0 16-16 16 16 0 0 0-16-16h-217.37l100.69-100.69a16 16 0 0 0 0-22.629 16 16 0 0 0-9.9199-4.625z'/%3E%3C/svg%3E"); }
.icon-warning { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='m256 32c-123.52 0-224 100.48-224 224s100.48 224 224 224 224-100.48 224-224-100.48-224-224-224zm0 32c106.23 0 192 85.772 192 192s-85.772 192-192 192-192-85.772-192-192 85.772-192 192-192zm0 80a16 16 0 0 0-16 16v128a16 16 0 0 0 16 16 16 16 0 0 0 16-16v-128a16 16 0 0 0-16-16zm0 192a16 16 0 0 0-16 16 16 16 0 0 0 16 16 16 16 0 0 0 16-16 16 16 0 0 0-16-16z'/%3E%3C/svg%3E"); }
.icon-info    { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='m256 32c-123.52 0-224 100.48-224 224s100.48 224 224 224 224-100.48 224-224-100.48-224-224-224zm0 32c106.23 0 192 85.772 192 192s-85.772 192-192 192-192-85.772-192-192 85.772-192 192-192zm0 80a16 16 0 0 0-16 16 16 16 0 0 0 16 16 16 16 0 0 0 16-16 16 16 0 0 0-16-16zm0 64a16 16 0 0 0-16 16v128a16 16 0 0 0 16 16 16 16 0 0 0 16-16v-128a16 16 0 0 0-16-16z'/%3E%3C/svg%3E"); }